<!doctype html5>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Parrot</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        crossorigin="anonymous">
  <style>
    .media-button,
    .media-button-placeholder {
      height: 10rem;
      font-size: 1.5rem;
    }
    .media-button-placeholder {
      display: flex;
      justify-content: center; 
      align-items: center;
      text-align: center;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Parrot</h1>

    <div id="app">
      <audio ref="audio"
             v-bind:src="audioUrl"
             v-on:ended="onAudioEnded">
      </audio>

      <div v-if="errorMessage" class="alert alert-warning" role="alert">
        {{ errorMessage }}
      </div>

      <div v-else>
        <div class="row mt-3">
          <div class="col-md-10 offset-md-1">
            <button type="button"
                    class="btn btn-primary btn-lg btn-block media-button"
                    v-if="hasRecorded"
                    v-on:click="play"
                    v-bind:disabled="recording">
              <span v-if="playing" class="oi oi-media-stop"></span>
              <span v-else class="oi oi-media-play"></span>
              {{ playing ? 'Stop' : 'Play' }}
            </button>
            <div v-else class="media-button-placeholder">
              Press and hold the Record button to begin.
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-10 offset-md-1">
            <button type="button"
                    class="btn btn-danger btn-lg btn-block media-button"
                    v-on:mousedown="startRecording"
                    v-on:touchstart="startRecording"
                    v-on:mouseup="stopRecording"
                    v-on:touchend="stopRecording"
                    v-bind:disabled="playing">
              <span class="oi oi-media-record"></span>
              {{ recording ? 'Recording...' : 'Record' }}
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-10 offset-md-1">
            <div class="form-check">
              <input class="form-check-input"
                    type="checkbox"
                    id="autoplay"
                    v-model="autoplay">
              <label class="form-check-label" for="autoplay">
                Play automatically.
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer text-muted mt-5">
      <hr/>
      <p>
        <small>
          Parrot records audio and plays it back to you. That's it.
        </small>
      </p>
      <p>
        <small>
          Works best with
          <a href="https://www.google.com/chrome/">Google Chrome</a>. iOS
          support coming soon.
        </small>
      </p>
      <p>
        <small>
          Made by <a href="https://leandro.me">Leandro Lovisolo</a>. Source
          code <a href="https://github.com/LeandroLovisolo/Parrot">here</a>.
        </small>
      </p>
    </footer>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        audioUrl: null,
        playing: false,
        recording: false,
        hasRecorded: false,
        autoplay: true,
        errorMessage: null,
      },
      mounted: async function() {
        vue = this;
        await navigator.mediaDevices.getUserMedia({ audio: true })
          .then(stream =>  {
            vue.mediaRecorder = new MediaRecorder(stream);
            
            audioChunks = [];
            vue.mediaRecorder.addEventListener('dataavailable', event => {
              audioChunks.push(event.data);
            });

            vue.mediaRecorder.addEventListener("stop", () => {
              const audioBlob = new Blob(audioChunks);
              audioChunks = [];
              const audioUrl = URL.createObjectURL(audioBlob);
              vue.$refs.audio.src = audioUrl;

              if (vue.autoplay) {
                vue.play();
              }
            });
          }).catch(function(err) {
            vue.errorMessage = err.name + ": " + err.message;
          });
      },
      methods: {
        play: async function() {
          if (this.playing) {
            await this.$refs.audio.pause();
          } else {
            this.$refs.audio.currentTime = 0;
            await this.$refs.audio.play();
          }
          this.playing = !this.playing;
        },
        startRecording: async function() {
          this.mediaRecorder.start();
          this.recording = !this.recording;
        },
        stopRecording: async function() {
          await this.mediaRecorder.stop();
          this.hasRecorded = true;
          this.recording = false;
        },
        onAudioEnded: function() {
          this.playing = false;
        }
      }
    });
  </script>
</body>
</html>
